/*
Use bootstrap for layout stuff? or does react have built in?
*/
#Controller{
    width: 100vw;
    height: 100vh;
}
.MainMenu {
    width: 100vw;
    height: 100vh;
}
.MainMenuItem{
    height: 100%;
    width: 25%;
    top: 0;
}
#HowToPlayButton{
    left: 0;
    background-color: green;
}
#FightButton{
    left: 25%;
    background-color: red;
}
#TeamBuilderButton{
    left: 50%;
    background-color: blue;
}
#InfoButton{
    left: 75%;
    background-color: yellow;
}


.TeamBuilder{
    overflow: scroll;
}

.App {
  text-align: center;
}